<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232703100156-1f21m3331sn91cvp27um5tom64slqf0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232703100156-1f21m3331sn91cvp27um5tom64slqf0m</string>
	<key>API_KEY</key>
	<string>AIzaSyD0GLGc0F887HGqZApjfnXxLw-ZocTH6Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>232703100156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clicktoget.delivery-app</string>
	<key>PROJECT_ID</key>
	<string>clicktoget-ma</string>
	<key>STORAGE_BUCKET</key>
	<string>clicktoget-ma.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232703100156:ios:103975102f2fbf5df6c379</string>
	<key>DATABASE_URL</key>
	<string>https://clicktoget-ma-default-rtdb.firebaseio.com</string>
</dict>
</plist>